<header>
    <div class="side-nav">
        <div class="logo">
            <div class="ems-logo">
                <img src="/images/Group 3.png" alt="">
            </div>
        </div>
        <div class="nav-links">
            <ul>
                <a href="/"><li><i class="bi bi-house-fill"></i> Home</li></a>
                <a href="/portal"><li><i class="bi bi-person-fill"></i> Portal</li></a>
                <a href="#"><li><i class="bi bi-linkedin"></i> Linked in</li></a>
                <a href="#"><li><i class="bi bi-facebook"></i> Facebook</li></a>
                <a href="#"><li><i class="bi bi-instagram"></i> Instaram</li></a>
            </ul>             
        </div>           
        <div class="contacts">
            <ul>
                <li><i class="bi bi-envelope-fill"></i> info@company.com</li>
                <li><i class="bi bi-phone-fill"></i> 0712345678</li>
                <li>Copyright &copy; EMS 2023</li>
            </ul>
        </div>
    </div>
    <div class="toggler">
        <span class="bars"></span>
        <span class="bars"></span>
        <span class="bars"></span>
    </div>
    <div class="brand">
       <h4><span><strong>Employee</strong> </span> <span>Management System</span></h4>
    </div>
</header>