<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <link href="./bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/bootstrap.css.map">
   
    <title>EMS</title>
</head>
<body>
    <header>
        <div class="side-nav">
            <div class="logo">
                <div class="ems-logo">
                    <img src="./images/Group 3.png" alt="">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <a href="./index"><li><i class="bi bi-house-fill"></i> Home</li></a>
                    <a href="./login.html"><li><i class="bi bi-person-fill"></i> Portal</li></a>
                    <a href="#"><li><i class="bi bi-linkedin"></i> Linked in</li></a>
                    <a href="#"><li><i class="bi bi-facebook"></i> Facebook</li></a>
                    <a href="#"><li><i class="bi bi-instagram"></i> Instaram</li></a>
                </ul>             
            </div>           
            <div class="contacts">
                <ul>
                    <li><i class="bi bi-envelope-fill"></i> info@company.com</li>
                    <li><i class="bi bi-phone-fill"></i> 0712345678</li>
                    <li>Copyright &copy; EMS 2023</li>
                </ul>
            </div>
        </div>
        <div class="toggler">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
        </div>
        <div class="brand">
           <h4><span><strong>Employee</strong> </span> <span>Management System</span></h4>
        </div>
    </header>
    <div class="wrapper">
        <div class="hero">
            <h1>Company Name</h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam autem nostrum rem, aut placeat numquam quam, ad velit, quae sit dicta hic maiores quo minus expedita blanditiis facere necessitatibus alias!</p>
            <div class="subscribe">
                <form action="" method="">
                  <div class="form-input">
                    <input type="email" class="form-input-text" placeholder="eg. johndoe@gmail.com">
                    <input type="submit" value="Subscribe" class="sub-btn">
                  </div>
                </form>
              </div>
        </div>
    </div>
<!-- javascript files -->
<script src="./js/app.js"></script>
<script src="./js/jquery-3.6.0.js"></script>
<script src="./js/bootstrap.bundle.js"></script>
<script src="./js/bootstrap.bundle.js.map"></script>
<script src="./js/bootstrap.js"></script>
<script src="./js/bootstrap.js.map"></script>
<script src="./bootstrap-icons/bootstrap-icons.json"></script>


</body>
</html>